body {
    background: url('Assets/moon.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #000;
    font-family: 'American Typewriter', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

#profile-pic {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 150px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.float-image {
    float: right;
    margin: 0 0 20px 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

nav {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
}

nav a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.815); /* Light gray background on hover */
    color: #ffffff;
}
